{% extends 'base.html' %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Community Food Rescue</h1>
        <p>Because food is a terrible thing to waste</p>
      </div>
    </div>
    
    {% endblock %}

{% block content %}
        <div class="col-md-12">
                     <h1>Donation</h1>
            <form method='POST', action=''> {% csrf_token %}
                {{ form.as_p }}
                <input type='submit', class='btn btn-success btn-lg btn-block'>
            </form>
        </div>
        
        

   

{% endblock %}